{% extends "layout.twig" %}

{% block title %}List books{% endblock %}

{% block content %}

    <h2>Lista books</h2>
        
    {% if is_granted('ROLE_ADMIN') %}
        <a href="/user/bookadd"><span class="glyphicon glyphicon-plus" style="margin-right: 5px;"></span>Agregar nuevo</a>
    {% endif %}

    {% for book in books %}
        <div class="media">        
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{ url('book', {id: book.path}) }}">
                        {{ book.name }}
                    </a>
                </h4>                

                {# <div class="text-muted">
                    {{ book.path }}
                </div> #}
            </div>
        </div>

    {% endfor %}

{% endblock %}