{% extends "layout.html" %}

{% block content %}
		<!-- Header -->
			<header id="header">

				<!-- Logo -->
					<!--h1 id="logo">Big Picture</h1-->
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/user">Clientes</a></li>
						</ul>
					</nav>

			</header>
			
		<!-- Intro style="background-color: rgb(224, 224, 224); opacity: 0.8;" -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content container 50%">
					<header >
						<img src="/images/logo.png" style="width:100%">
					</header>
					<footer>
						<a href="https://www.facebook.com/miprimerbookPH" class="icon fa-facebook button style2"><span class="label">Facebook</span></a>
					</footer>					
				</div>
			</section>
{% endblock %}
